---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Blog">
    <main class="space-y-40 mb-40 pt-40">
        <div class="flex flex-col text-center h-56 items-center justify-center">
            <h1 class="text-2xl font-bold text-slate-800 dark:text-white">
                Blog
            </h1>
            <p class="text-slate-800 dark:text-white">Coming soon...</p>
        </div>
    </main>
</Layout>
